.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-subtitle {
  display: inline-block;
  background-color: #ff5454; 
  /* border-radius: 8px;  */
  padding: 10px;
}

.two-line-ellipsis {
  line-height: 1.5em; 
  height: 3em; 
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-btn-padding {
  padding: 10px; 
}
.two-line-height {
  line-height: 1.5em; /* Chiều cao dòng */
  height: 3em; /* Chiều cao tổng cộng cho 2 dòng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
}